.top-bar, .top-bar ul{
    background: $nav-color;
}

.menu-text{
    color: $navtext-color;
}

.menu > .menu-text > a{
    display: inline;
    padding: 0;
}

.menu a {
    color: $navlink-color;
}

.menu a:hover {
    color: $navhover-color;
}

.active{
    font-weight: bold;
}
